@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body { font-size: 15px; font-family: 'Roboto', 'Helvetica', sans-serif; overflow: hidden; }

h2 { font-size: 19px }
h3 { font-size: 17px }


input[type=range] { min-width: 100px; }

#screen {  position:relative; overflow: hidden; height:100%; background-color: #ffe; z-index: 0; }

.navbar { z-index: 100}
.navbar .help { margin: 0 20px; font-size: 18px; cursor:pointer; }
.nav-tabs > li  a:hover {
    cursor: pointer;
}
.nav-tabs > li a {
    padding: 5px 5px 5px 10px;
    display: block;
    float: left;
}
.nav-tabs > li .active {
    border: 1px solid #DDD;
    border-bottom: 0;
}
.nav-tabs > li .glyphicon { padding: 9px 0;
}

#controls-overlay { display: none;}
#controls-overlay.active { position: absolute; top:0px; left:0; right: 0; bottom: 0; display:block}

#controls-overlay input { display: none;}
#controls-overlay input.insert-mode {     
    background-color: #ffe;
    opacity: 0.9;
    display: block;
    border: none;
    width: 400px;
    display: block; position: absolute; left: 100px; top: 100px;}



#controls { margin-bottom:0; }
#control-panel.running .glyphicon-play { color: #bbb; }
#control-panel.running .glyphicon-pause { color: #000; }
#control-panel.stopped .glyphicon-play { color: #000; }
#control-panel.stopped .glyphicon-pause { color: #bbb; }

#control-panel .navbar-nav li a { padding-top:10px; padding-bottom:10px;}

#control-panel .nav-tabs li { margin-right: 20px; }
#control-panel .nav-tabs .glyphicon { margin: 0 5px; cursor:pointer}

#data-tabs-content { max-width: 500px; }
#import-dlg { clear:both; }


#wordinputs input { padding-left:5px; }
#play-state { font-style: italic; }



#controls .form-group { margin-bottom: 10px; margin-right: 15px}
#textareaimport { height: 300px; width: 500px; }
#fileupload-panel { display: none;}



#dataview .datalist { max-height: 300px; overflow-y: scroll; }
#dataview .channel-item .text { padding: 1px 5px}
#dataview .channel-item .btn { background: none;}

#dataview .channel-item a { color: #ccc; }
#dataview .channel-item a:hover { color: #333; text-decoration: none; }

#dataview .channel-mix { font-size: 8px; }


#channel-controls { display: flex; }
.channels.buttons { display: flex; flex-direction: row; }

.item-container { z-index: 100 }
.item-container { position: absolute; padding: 3px; }
.item {  max-width: 400px; line-height: 1.15}
.item-container .meta { display:none; cursor: pointer; }
.item-container.active { border: 1px solid #ccc; padding: 10px 15px; background-color: #f9f9e9 }
.item-container.active .meta { display: block; position:absolute; top: 0px; right: 0px; padding: 5px; z-index: 1000 } 
.item-container .meta .delete-item { font-size: 10px; color: #555; z-index: 100; }

.help-text { font-size: 14px; color: #777; max-width: 500px; }

.pairs .panel { width: 50%; float:left; font-size: 25px; margin-top: 100px; padding:20px;}
.pairs .panel.first { text-align: right; }
.pairs .panel.second { text-align: left; }


#data-browser { clear: both; overflow: hidden; }