@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
body { font-size: 20px; font-family: 'Open Sans', sans-serif; overflow: hidden; }
#screen {  position:relative; overflow: hidden; height:100%; background-color: #ffe}

.nav-tabs > li  a:hover {
    cursor: pointer;
}
.nav-tabs > li a {
    padding: 5px 5px 5px 10px;
    display: block;
    float: left;
}
.nav-tabs > li .active {
    border: 1px solid #DDD;
    border-bottom: 0;
}
.nav-tabs > li .glyphicon { padding: 9px 0;
}


#controls { margin-bottom:0; }
#control-panel.running .glyphicon-play { color: #bbb; }
#control-panel.running .glyphicon-pause { color: #000; }
#control-panel.stopped .glyphicon-play { color: #000; }
#control-panel.stopped .glyphicon-pause { color: #bbb; }

#control-panel .navbar-nav li a { padding-top:10px; padding-bottom:10px;}

#control-panel .nav-tabs li { margin-right: 20px; }
#control-panel .nav-tabs .glyphicon { margin: 0 5px; cursor:pointer}

#import-dlg { clear:both; }

#wordinputs input { padding-left:5px; }
#play-state { font-style: italic; }


#controls .form-group { margin-bottom: 10px; }
#textareaimport { height: 300px; width: 500px; }
#fileupload-panel { display: none;}

#dataview .datalist { max-height: 300px; overflow-y: scroll; }
.item { position: absolute; }


.help-text { font-size: 14px; color: #777; max-width: 500px; }

.pairs .panel { width: 50%; float:left; font-size: 25px; margin-top: 100px; padding:20px;}
.pairs .panel.first { text-align: right; }
.pairs .panel.second { text-align: left; }