@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
body { font-size: 20px; font-family: 'Open Sans', sans-serif; }
#screen {  position:absolute; top:0;bottom:0;left:0;right:0; overflow: hidden;}
#controls { position:absolute; left: 10%; top: 10%; background: #ddd; }
#control-panel { padding: 15px; border: 1px solid #bbb;}
#play-state { font-style: italic; }

#controls .form-group { margin-bottom: 10px; }
#textareaimport { height: 300px; width: 500px; }
#fileupload-panel { display: none;}

.item { position: absolute; }


.help-text { font-size: 14px; color: #777; max-width: 500px; }

.pairs .panel { width: 50%; float:left; font-size: 25px; margin-top: 100px; padding:20px;}
.pairs .panel.first { text-align: right; }
.pairs .panel.second { text-align: left; }